// app global css

@font-face {
  font-family: "HelveticaNeue";
  src: '../static/fonts/HelveticaNeueMed.ttf';
}
body{
  font-family: HelveticaNeue !important;

}


.secondary-header {
	background: #606060;
	height: 70px;
}
.pad10LR{
  padding: 0px 10px;
}
.logo {
  margin-top: 5px;
  width: 250px;
  height: 40px;
  object-fit: contain;
}
.headerLeft{
  width: 45%;
  float: left;
}
.headerRight{
  padding-top: 10px;
  float: right;
  width: 45%;
}
.clearFix{
  display: inline;
}
.userIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.app-layout {
  background: #fbfffa;
}

.TopMenu{
  padding: 0px 10px;
  width: 50%;
  float: left;
}
.action-btns {
  padding: 5px;
  margin-left: 5px;
  margin-top: 7px;
  border-radius: 8px;
}
.Code-Group {
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a5a5a5;
}
.sub-level-menus-labels {
  font-family: HelveticaNeue;
  font-weight: bold;
  color: #ffffff;
}

.Rectangle-199 {
  padding: 5px;
  color: #a8a8a8 !important; 
}
.selected{
  padding: 10px 20px 10px 20px;
	border-radius: 50px;
	border: solid 3px #ffffff;
}
.Cohorts {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6b9840;
  padding-left: 10px;
  border-left: 1px solid #aaa;
}
.cohort_body{
  margin: 0px !important;
  width: 100%;
  padding: .5rem  10px !important;
}
.cohort_body .row{
  margin: 0px;
}
.f14{
  font-size: 14px !important;
}
.f13{
  font-size: 13px !important;
}
.userName {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  color: #606060;
  border-width: 0px;
}

.Setting {
  margin-top: 10px;
  float: right;
  width: 3.8px;
  height: 15px;
  object-fit: contain;
}
.Top---Menu-Bar {
  height: 40px;
  padding: 10px;
  background-color: #ffffff;
}
.Status-bar {
  box-shadow: 0 6px 45px 0 #bcbcbc;
  background-color: #606060;
  padding: 10px;
}
.Cohort-Name {
  /* width: 166px;
  height: 31px; */
  width: 25%;
  display: inline;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.leftTabs{
float: left;
margin-right: .5rem;
}
#myTable_length{
  margin-top: .1rem;
}
#myTable_length select{
  padding: 5px;
  border-radius: 3px
}
.rightActions{
float: right;
margin-top: .4rem;
margin-left: .5rem;
}
.sort-2 {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.cohortGroup_dropDown {
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.bgCgreen {
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #6b9840 !important;
  border-color: #6b9840 !important;
}
.cohort_list-Table{
  margin: 25px 40px;
}
.pad0{
  padding: 0px;
}
.cohort_Tabs {
    margin: 25px 40px;
}
.cohort_list-Table .row .form-control {
  display: inline;
  width: auto;
  margin-top: 10px;
}
.tableHeader {
  border-radius: 6px;
  border: solid 1px #707070;
  background-color: #fafafa;
}
.Created-by {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.page-item.active .page-link{
    background-color: #6b9840 !important;
    border-color: #6b9840 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
  background-color: #6b9840 !important;
  border-color: #6b9840 !important;
}
.Group-510 {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
table.dataTable.no-footer {
  border-bottom: 0px !important;
}
table.dataTable thead th{
    border-bottom: solid 1px #707070 !important;
    border-top: solid 1px #707070 !important;
}
table.dataTable thead th:first-child {
  border-left: 1px solid #606060;
  border-radius: 5px 0px 0px 5px;
}
table.dataTable thead th:last-child {
  border-right: 1px solid #606060;
  border-radius: 0px 5px 5px 0px;
}
table.dataTable tbody td:first-child {
  border-radius: 5px 0px 0px 5px;
}
table.dataTable tbody td:last-child {
  border-radius: 0px 5px 5px 0px;
}
#myTable{
   border-spacing: 0 5px !important;
  font-size:13px;
  font-family: HelveticaNeue;
  color:#606060;
}

.userIconName{
  float: right;
  margin: 0px 20px;
}
thead tr{
  border-radius: 6px !important;
  border-left: solid 1px #707070 !important;
  border-right: solid 1px #707070 !important;
  background-color: #fafafa !important;
}
 tbody tr{
  border-radius: 6px !important;
  border: solid 1px #707070;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 2px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
      border: 1px solid #87a06f !important;
      background: #87a06f !important;
}
.dataTables_info{
  color: #aaaaaa !important;
}
.page-link{
padding: .3rem .5rem !important;
font-size:12px !important;
}
.dataTables_info{
  font-size:12px !important;
}
.cohortDef-tab_Active {
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 2px #ffffff;
}
.cohortDef-tab{
  display: inline;
  margin-left: 34%;
  width: 75%;
}
.cohort_Definition {
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.summary {
  margin-left: 10px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
}
.cohort-des_form {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.cohort-des_form-box1{

    margin: .2rem .4rem !important;
    height: 22px !important;
}
.cohort-des_form-box2{

    margin: .2rem .4rem !important;
    height: 22px !important;
}
.cohort-des_form-box3{

    margin: .2rem .4rem !important;
    height: 22px !important;
}
::-webkit-input-placeholder { /* Edge */
  color: #aaa !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #aaa !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
}

::placeholder {
  color: #aaa !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
}
.cohort-des_btn{
  padding-top: 5px;
  width: 30%;
  margin-left: .5rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.form-btn-Icon{
  width: 10px;
  height: 10px;
  object-fit: contain;
  margin: 5px;
}
.Form_Body {
  width: 1893px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}
.leftForm{
  margin-top: 5px;
  padding-right: 15px;
  border-right: 1px solid #629e2a;
}
.mar10T{
  margin-top: 5px !important;
}
.RightForm {
  border-radius: 8px;
  border: solid 1px #a5a5a5;
  background-color: #ffffff;
      margin-top: 5px;
}
.RightForm .cohort-des_form-box3{

    width: 40% !important;
}
.RightForm .cohort-des_form-box2{

    width: 55% !important;
}
.cohort-des_btn .btn {
      margin: 0px 5px;
      height: 20px !important;
      font-size: 12px !important;
      padding: 0px  3px !important;
  }
.eventList {
  padding: 10px;
  min-height: 669.9px;
  border-radius: 8px;
  border: solid 1px #a5a5a5;
  background-color: #ffffff;
}
.DCriteria {
  padding: 10px;
  min-height: 669.9px;
  border-radius: 8px;
  border: solid 1px #6b9840;
}
.detailedForm {
  line-height: 1 !important;
  min-height: 669.9px;
  border-radius: 8px;
  border: solid 1px #a5a5a5;
  background-color: #ffffff;
}
.mar210L{
  margin-left: 10px;
}
.EventList_header {
  width: 80%;
  margin: auto;
  font-family: HelveticaNeue;
  height: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  background-color: #e2efb9;
}
.Events {
  font-family: HelveticaNeue;
  color: #606060;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-top: 10px;
  /*height: 28px;*/
  border-radius: 14px;
  border: solid 1px #606060;
  background-color: #ffffff;
}
.header_Bor1{
  border: 1px solid #e5e5e5;
  width: 90%;
  margin: 0px auto;
}
.categories_header {
  margin: auto;
  padding: 0px;
  font-family: HelveticaNeue;
  font-size: 12px;
  text-align: center;
  height: 18px;
  border-radius: 4px;
  background-color: #e2efb9;
  color: #606060;
  width: 80%;
}
.categories_Selected {
  padding: 3px;
    margin-top: 10px;
  font-family: HelveticaNeue;
  color: #ffffff;
font-size: 12px;
text-align: center;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background-color: #6b9840;
}
.categories_list {
  padding: 3px;
  color: #606060;
  margin-top: 10px;
  font-family: HelveticaNeue;
font-size: 12px;
text-align: center;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background-color: #ffffff;
}
.categories_details_Selected {
    margin-top: 10px;
  font-family: HelveticaNeue;
  color: #ffffff;
font-size: 12px;
text-align: left;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background-color: #6b9840;
}
.input-box {
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #707070;
  background-color: #f5f5f5;
}
.select-box {
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #707070;
  background-color: #f5f5f5;
}
.categories_details_list {
  color: #606060;
  margin-top: 10px;
  font-family: HelveticaNeue;
font-size: 12px;
text-align: left;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background-color: #ffffff;
}
.add_group_bt {
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  background-color: #6b9840;
}
.categories_addNew {
  padding: 3px;
  color: #606060;
  margin-top: 10px;
  font-family: HelveticaNeue;
font-size: 12px;
text-align: center;
  height: 40px;
  border-radius: 8px;
  border: dashed 1px #aaa;
  background-color: #fafafa;
}
.categories_detailed-Form {
  height: 333px;
  background-color: rgba(255, 255, 255, 0.45);
}
.categories_details {
  text-align: left !important;
  margin: 10px 0px;
  min-height: 150px;
  border-radius: 8px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.categories_details-selectBox {
  color: #606060 !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
  width:95%;
  text-align: left !important;
  padding: 5px;
  height: 30px;
  border-radius: 8px !important;
  border: solid 1px #606060 !important;
  background-color: #f5f5f5 !important;
}
.dropdown-toggle::after {
    float: right !important;
    margin-top: 6px !important;
  }

  .of-the-criteria {
    padding: 5px 0px;
    height: 10px;
    font-family: HelveticaNeue;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #606060;
}
.add_group-bgTransperent{
  background: #fafafa94 !important;
}
.add_group .btn{
  background: #6b9840 !important;
  height: 25px !important;
  font-size: 10px !important;
  padding: 3px 10px !important;
}
.demo{
  background-color: #fff;
  background-image: linear-gradient(90deg, #cee8c285 1%, transparent 5%, transparent 90%, #bae4a87a 100%), linear-gradient(180deg, #b7e6a37a 1%, transparent 5%, transparent 90%, #b7e6a352 100%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.event-detailedForm_header {
  margin: 10px auto 0px auto;
  font-family: HelveticaNeue;
  font-size: 10px;
  text-align: center;
  width: 80%;
  color: #606060;
  height: 20px;
  border-radius: 4px;
  background-color: #e2efb9;
}
.theamBGcolor2{
  background-color: #f5f5f5 !important;
}
.btn-outline-danger:hover{
    background: #ffffff !important;
    color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.btn-outline-success:hover{
    background: #ffffff !important;
    color: #649536 !important;
    border-color: #649536 !important;
}
.btn-outline-success{
    background: #ffffff !important;
    color: #649536 !important;
    border-color: #649536 !important;
}
.btn-outline-primary:hover{
    background: #ffffff !important;
    color: #007bff !important;
    border-color: #007bff !important;
}
.form-group label {
    color: #606060;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 10px;
    margin-top: .6rem !important;
}
.form-group {
    margin-bottom: .5rem !important;
}
.dropdown-toggle {
    height: 20px !important;
    padding: 0px 3px !important;
    white-space: nowrap !important;
}
.custom-select {
      height: 22px !important;
      padding: 0px 3px !important;
      white-space: nowrap !important;
  }
.detailedForm input{
  height: 22px !important;
  padding: 0px 3px !important;
}
.chilg-Group{
    padding: 10px;
    margin: .5rem;
    border: 1px solid #606060;
    border-radius: 5px;
}
#TreatementForm{
  display: none;
}
#ProcedureForm{
  display: none;
}
#DiagnosisForm{
  display: none;
}
/* Right NAVIGATION */

.sidenav {
  padding-top: 0px !important;
  height: 100%;
  width: 40px;
  position: absolute;
  z-index: 1;
  right: 0px;
  background-color: #ffffff00;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.SiteNav-Menu {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #ffffff;
  margin-left: 40px;
  height: 100%;
}
.SiteNav_Header {
  height: 26px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.SideNav-Code-Group {
  cursor: pointer;
  position: absolute;
  left: 0px;
  writing-mode: tb-rl;
  width: 25px;
  display: inline;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
  padding: .2rem;
  border-radius: 6px;
  background-color: #e2efb9;
}
.sidenav a:hover {
  color: #f1f1f1;
}


  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 12px;}

/* ************* */
.mar1{
  margin: 1px;
}
.list-group {
  height: 300px;
  overflow: auto;
}
.categories_details_Selected .badge-secondary{
  background: #ffffff !important;
  color: #6b9840 !important;
}
.badge-secondary{
  background: #606060 !important;
  color: #ffffff !important;
}
.Rectangle-208 {
  width: 599.3px;
  height: 669.9px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background: #000000;
}
