// app global css

@font-face {
  font-family: "HelveticaNeue";
  src: url('/statics/fonts/HelveticaNeue-Roman.otf');
}
body{
  font-family: HelveticaNeue !important;
  letter-spacing: 0.5px !important;
}
.multiselect__tags {
  background: #f5f5f5;
}
.multiselect__input{
  background: #f5f5f5;
}

.multiselect__single{
margin-bottom:3px !important;
background:#f5f5f5;
}
.bor8R{
  border-radius:8px !important;
}
.a-chip {
  padding: 0px 0px 0px 10px;
  margin-right: 5px;
  height: 22px;
  font-size:13px;
  border-radius: 6px;
  border: solid 1px #6b9840;
  background-color: #ffffff;
}
.sortable .q-table__sort-icon{
opacity:1 !important;
}
.a-chip-head{
font-size:14px;
  padding: 0px 10px 0px 10px;
  color: #fff;
  margin-left: -10px;
  background-color: #6b9840;
  border-radius: 6px;
}
.expansion-item-header {
  background-color: #fff;
  border-radius: 10px;
  transform: scale(1.05);
}
.corelated-criteria-block {
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #707070;
  background-color: rgba(174, 205, 71, 0.2);
  margin: -10px 10px 0px 10px;
}
.filter-box {
  background: #fff;
  border-radius: 14px;
  border: 1px solid #d2c7c7;
}
.filter-box-1 {
  background: #ffffff;
  border-radius: 14px;
}
.selected_events {
  overflow: auto;
  height: 90%;
}
.selected_events1 {
  overflow: auto;
}
.close-btn{
  position: absolute;
  z-index: 1;
  right: 1px;
}
.close-btn-criteria{
  position: absolute;
  z-index: 1;
  right: 1px;
  top: -2px;
}
.footer {
  width:100%;
  height:10%;
  position:relative;
  /*float:left;*/
  text-align: center;
  /*border:1px solid blue;*/
  /*bottom: -webkit-calc(-100% + 60px);*/
   bottom:0;
   margin:10px 0px;
}
.addtolist-btn{
  border-radius: 8px;
  background-color: #6b9840;
  color: white;
}
.searchCodeTable thead tr,
.searchCodeTable tbody td{
  height: 40px !important;
}
.q-table thead tr,
.q-table tbody td{
  height: 40px !important;
}
.q-table thead tr{
background: #eaf2d0 !important;
}
.searchCodeTable th,
.searchCodeTable td {
    padding: 0px 5px !important;
}
.searchCodeTable th{
  border:none !important;
}
#codesTable thead tr,
#codesTable tbody td{
height:30px !important;
}
#codesTable .q-checkbox__inner{
padding: 5px !important;
width:30px !important;
min-width:30px !important;
height:30px !important;
}
#codesTable .q-checkbox__inner .q-checkbox__bg{
margin: -3px 0px;
}
.q-list--bordered{
border:none !important;
}
.codeSetdelete {
border:none !important;
color:#de0808;
}
.filterItemList .q-hoverable:hover > .q-focus-helper{
opacity:0 !important;
}
.table-header-codeset .q-hoverable:hover > .q-focus-helper{
opacity:0 !important;
}
.filterItemList .q-item{
    min-height:30px !important;
    padding: 5px 7px !important;
    margin-bottom: 5px;
    color: #615f5f;
    font-weight: bolder;
    background: #eaf7dc;
    border-radius: 10px 10px;
}
.filter-box i{
  color:#615f5f;
}
.filter-box .q-item__section--avatar{
    min-width: 5px !important;
    width: 5px !important;
    border-radius: 5px;
    padding: 2px !important;
    margin-right: 10px !important;
}
.filterItemList .q-expansion-item__content{
    max-height: 250px;
    overflow-x: auto !important;
    margin-bottom: 25px;
}
.searchCodeTable thead tr{
  background:  #efefef !important;
}
.searchCodeTable tbody td:first-child {
    border-left: none !important;
    border-radius: 0px !important;
}
.q-btn-group .bg-green,
.cretebtn .bg-green{
 background:#6b9840 !important;
}
.searchCodeTable tbody tr{
border-radius: 6px !important;
  border: solid 1px #707070;
   box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16) !important;
}
.table-box{
  border: solid 1px #707070;
  background-color: #ffffff;
  padding: 1px;
  /*height: 100%;*/
}
.cohortGroupDrop{
max-height:25px !important;
}
.multiselect{
display:inline-block !important;
}
.q-field--auto-height.q-field--labeled .q-field__control-container
{
padding-top:5px !important;
}
.q-field__label{
font-size: 12px !important;
}
.q-field--float .q-field__label{
display:none !important;
}
.w4R{
width:3.5rem;
}
.w2R{
width:2.5rem;
}
.w20R{
width:20rem !important;
}
.w23R{
width:23rem !important;
}
.q-field--standard .q-field__control:before{
border-bottom: none;
}
.attributeBox .q-checkbox__bg
{
top:15px !important;
width:30% !important;
height:30% !important;
}
.attributeBox *{
font-size:10px !important;
}
.attributeBox .q-radio__inner-circle{
border-width: 8px;
}
.attributeBox .q-radio--dense .q-radio__bg{
width: 80%;
height:80%;
}
.w9R{
width:9rem !important;
}
.w7R{
width:7rem !important;
}
.q-table tbody td {
 font-size: 12px !important;
}
.secondary-header {
	background: #606060;
	height: 40px;
}
.q-field--with-bottom{
padding:0px !important;
}
.q-field__bottom--animated{
display: none !important;
}
.q-menu--square .q-item{
    min-height: 20px !important;
    padding: 0px 16px !important;
    font-size: 12px !important;
}
.categoriesListitems .q-item{
min-height:25px !important;
}
.on-left{
margin-right: 5px;
}
.leftForm .categories_addNew {
height:25px !important;
}
.w5R{
width:5rem !important;
}
.q-table__control .q-field__native, .q-field__prefix, .q-field__suffix{
    padding: 3px 0 !important;
}
.w25R{
width:25rem !important;
}
.By-GraphLbls_devider {
  height: 12rem;
  border: solid 0.5px #d3cece;
  background-color: #fff;
  margin-top: 5px;
}
.bor1RlightGreygender {
border-right:1px solid #b6b0b0;
width:5.5rem;
}
.q-field--auto-height .q-field__control, .q-field--auto-height .q-field__native{
min-height: 25px !important;
}
.q-select--without-input .q-field__control {
    border: 1px solid #bdb5b5 !important;
}
.q-table__control .q-select--without-input .q-field__control {
  border-radius: 4px !important;
  padding-left: 10px !important;
  height: 1.5rem !important;
}
.q-table__top .q-table__control {
width: 47% !important;
}
.chartjs-render-monitor{
height: 180px !important;
}
.summeryBarGraph .chartjs-render-monitor{
height: 235px !important;
}
.pad10LR{
  padding: 0px 10px;
}
.logo {
  margin-top: 8px;
  width: 250px;
  height: 36px;
  object-fit: contain;
}
.headerLeft{
  width: 45%;
  float: left;
}
.select-box .q-btn__content div{
  text-transform: capitalize !important;
}
.headerRight{
  text-transform: capitalize;
  padding-top: 10px;
  float: right;
  width: 45%;
}
.clearFix{
  display: inline;
}
.userIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.app-layout {
  background: #fbfffa;
}
.H100Vh{
height:100vh;
}
.H75Vh{
min-height:75vh;
}
.H60Vh{
min-height:60vh;
}
.H25{
height:25px !important;
}
.textDecorNone{
text-decoration: none;
}
.q-field .q-field__control .q-field__marginal{
  height: 15px;
  margin: 5px;
  padding: 0px;
}
.datepckr .q-field__control input{
padding:5px ;
}
.datepckr .q-field,
.datepckr .q-field__control{
padding:0px !important;
height: 25px !important;
border:solid 1px #bdb5b5;
border-radius: 3px;
}
.TopMenu{
  padding: 0px 10px;
  width: 50%;
  float: left;
}
.action-btns {
  padding: 0px !important;
  /*margin-left: 5px;*/
  margin-top: 7px;
  border-radius: 8px;
}
.Code-Group {
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a5a5a5;
}
.sub-level-menus-labels {
  font-family: HelveticaNeue;
  color: #ffffff;
}
.q-field__native{
padding:0px !important;
}
.h40{
min-height:40px !important;
}
.attributeDiv .multiselect__select,
.attributeDiv .multiselect__tags,
.attributeDiv .multiselect{
min-height:25px;
}
.attributeDiv .multiselect__select:before{
  top: 40%;
}
.multiselect__tag-icon{
  line-height: 15px !important;
}
.multiselect__tags{
padding: 3px 40px 0 8px !important;
}
.h35{
min-height:35px !important;
}
.mx-h25{
max-height:25px !important;
}

.catColorLbl{
  height: 25px;
  padding: 5px;
}
.f12{
font-size:12px !important;
}
.f8{
font-size:8px !important;
}
.createcohortHeaderform .q-btn{
    padding-top: 0px !important;
}
.Rectangle-199 {
  padding: 5px 20px 5px 20px;
  color: #a8a8a8 !important;
  height:35px;
}
.selected{
	border-radius: 50px;
	border: solid 3px #ffffff;
}
.Cohorts {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6B9840;
  padding-left: 10px;
  border-left: 1px solid #aaa;
}
.selectedDomain{
color: #6b9840;
}
.cohort_body{
  margin: 0px !important;
  width: 100%;
  padding: .5rem  10px !important;
  background-color: #fbfffa;
}
.cohort_body .row{
  margin: 0px;
}
.f14{
  font-size: 14px !important;
}
.f13{
  font-size: 13px !important;
}
.userName {
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  color: #606060;
  border-width: 0px;
}
.userName :hover{
background : #ffffff !important;
}
.userName .q-btn__content img{
margin-left:5rem !important;
}
.userName .q-btn__content i{
margin-left:4rem !important;
}
.Setting {
  margin-top: 10px;
  float: right;
  width: 3.8px;
  height: 15px;
  object-fit: contain;
}
.q-header .q-toolbar {
min-height:35px !important;
}
.Top---Menu-Bar {
  height: 40px;
  padding: 5px 10px;
  background-color: #ffffff;
}
.Status-bar {
  box-shadow: 0 6px 45px 0 #bcbcbc;
  background-color: #606060;
  padding: 10px;
}
.Cohort-Name {
  /* width: 166px;
  height: 31px; */
  width: 25%;
  display: inline;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.leftTabs{
float: left;
margin-right: .5rem;
}
#myTable_length{
  margin-top: .1rem;
}
#myTable_length select{
  padding: 5px;
  border-radius: 3px
}
.rightActions{
float: right;
margin-top: .4rem;
margin-left: .5rem;
}
.sort-2 {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.cohortGroup_dropDown {
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.bor0{
border:0px important;
}
.f10{
  font-size:10px !important;
}
#triangle-right {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid red;
      border-bottom: 50px solid transparent;
}
#container {
    height:30px;
    position:relative;
    color:#ffffff;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; /* 40px height (20+20) */
    position:absolute;
    right:-20px;
    top:0px;
}

.bgStatCBor1 {
  border-left: 20px solid #9df0ff;
}
.bgStatCBor2 {
  border-left: 20px solid #ffb09d;
}
.bgStatCBor3 {
  border-left: 20px solid #9db0ff;
}
.bgStatCBor4 {
  border-left: 20px solid #9dffbf;
}
.bgStatCBor5 {
  border-left: 20px solid #ffdd9d;
}
.lightGreen{
background:#eaf2d0;
}
.selected-criteria .fCgreen{
color:#ffffff;
}

.fClightGreen{
color:#515452;
}
.bg-positive{
color:#ffffff !important;
background:#6b9840 !important;
}
.fCdarkGrey{
color:#655f5f;
}
.fCgreen{
color:#6b9840;
}
.fCred{
color:#e80a0a;
}
.cancelBtn{

}
.W200{
width:200px;
}
.bgClightGrey{
background:#ededed;
}
.W300{
min-width:300px;
}
.W150{
width:150px;
}
.W100{
width:100px;
}
.W170{
width:170px;
}
.W120{
width:120px;
}
.W50{
width:50px;
}
.bgStatC1 {
  background-color: #9df0ff;
}
.bgStatC2 {
  background-color: #ffb09d;
}
.bgStatC3 {
  background-color: #9db0ff;
}
.bgStatC4 {
  background-color: #9dffbf;
}
.bgStatC5 {
  background-color: #ffdd9d;
}
.col10{
  border-radius: 10px;
}
.selectedFilter{
  min-height: 35px;
  border-radius: 14px;
  background-color: #efefef;
}
.Applied-Filters {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #3e3e3e;
  margin:10px 15px;
  width:80px;
}
.filtersList{
  padding: 2px 12px;
  border-left: 1px solid;
  margin: 4px;
  max-width:45rem;
}
.bor1Lightgrey{
border: 1px solid #d0d0d0;
}
.bor1grey{
border: 1px solid #707070;
}
.H450{
  min-height:450px;
}
.bgCgreen {
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #6b9840 !important;
  border-color: #6b9840 !important;
}
.cohort_list-Table{
  margin: 25px 40px;
}
.borderRad0{
border-radius:0 !important;
}
.pad0{
  padding: 0px !important;
}
.cohort_Tabs {
    margin: 25px 40px;
}
.cohort_list-Table .row .form-control {
  display: inline;
  width: auto;
  margin-top: 10px;
}
.tableHeader {
  border-radius: 6px;
  border: solid 1px #707070;
  background-color: #fafafa;
}
.Created-by {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.page-item.active .page-link{
    background-color: #6b9840 !important;
    border-color: #6b9840 !important;
}
.q-table__container{
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.q-table {
border-collapse: separate !important;
border-spacing: 0px 8px !important;
}
.q-table tbody tr{
 border-radius: 6px !important;
 border: solid 1px #707070;
 box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
 background-color: #ffffff !important;
}
.q-table{
 color:#606060 !important;
}
.q-table a {
    text-decoration: none !important;
    color:#606060 !important;
}
.q-table th{
 opacity: 1 !important;
}
.BGC16{
background-color: #ededed;
color:#b9aeae;
}
.H30{
height:30px;
}
.col5{
border-radius:5px;
}

.cohortSummaryText{
font-size:12px;
color:#606060;
}
.Group-510 {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
q-table tbody .no-footer {
  border-bottom: 0px !important;
}
.q-table th {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #4c4c4c;
}
.userName .q-focus-helper{
display: none;
}
.filtrC1{
background:#ffd021 !important;
}
.filtrC2{
background:#e15d72 !important;
}
.filtrC3{
background:#c5dd2a !important;
}
.filtrC4{
background:#00e5b2 !important;
}
.selected-codes-card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fbfffa;
  min-height: 100%;
  border-radius: 10px;
}
.unselected-card{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #6b9840;
  color: white !important;
  height: 100%;
  border-radius: 10px;
}
.q-table__top .q-field__native{
  border: 1px solid #606060 !important;
  border-radius: 3px;
  margin: 2px 10px 0px 0px;
  height: 37px;
  padding: 5px 10px;
}
.q-table__top .q-field__inner .q-icon{
  color: black;
}
.q-table__top .q-btn-dropdown{
  margin-right: 10px !important;
}
.q-table__top{
 padding:10px 0px !important;
}
.q-table__top .q-btn-toggle{
  width:15rem;
}
.q-table th:first-child {
  border-left: 1px solid #d6cccc;
  border-radius: 5px 0px 0px 5px;
}
.q-table th:last-child {
  border-right: 1px solid #d6cccc;
  border-radius: 0px 5px 5px 0px;
}
.createBoxHeight{
    min-height: 26rem;
    padding-bottom: 1rem !important;
}
.bg-theamGreen {
background: #6b9840 !important;
color: #ffffff !important;
}
.fc-theamGreen{
color: #6b9840 !important;
}
#codesTable th,
#codesTable td,{
padding:0px !important;
}
#codesTable tbody td {
font-size:11px !important;
}
#codesTable th {
font-size:12px !important;
}
.w12R{
width:12rem !important;
}
.w13R{
min-width:13rem !important;
}
.eventDropdownAttr.w13R{
max-width:23rem !important;
}
.eventDropdownAttr .multiselect__tag, {
    min-height: 25px !important;
    height: auto !important;
    max-height: auto !important;
}
.multiselect__tag,
.multiselect__tag-icon,
.multiselect__tag-icon:after {
background: #6b9840 !important;
color: #ffffff !important;
}
.multiselect__option--highlight{
background: #6b9840 !important;
color: #ffffff !important;
}
.searchBox .el-input-group__prepend{
 padding:10px !important;
}
.w18R{
width:18rem !important;
}
.w11R{
width:11rem !important;
}
.w10R{
width:10rem !important;
}
.tabledataEditbtn .q-btn{
margin-left: 5px !important;
}

.q-table th {
  border-top: 1px solid #d6cccc;
  border-bottom : 1px solid #d6cccc;
}
.q-table tbody td:first-child {
  border-left: 1px solid #60606040 !important;
  border-radius: 5px 0px 0px 5px;
}
.q-table tbody td:last-child {
  border-right: 1px solid #60606040 !important;
  border-radius: 0px 5px 5px 0px;
}
q-table {
   border-spacing: 0 5px !important;
  font-size:13px;
  font-family: HelveticaNeue;
  color:#606060;
}

.userIconName{
  float: right;
  margin: 0px 20px;
}
q-table  tr{
  border-radius: 6px !important;
  border-left: solid 1px #707070 !important;
  border-right: solid 1px #707070 !important;
  background-color: #fafafa !important;
}
 q-table  tr{
  border-radius: 6px !important;
  border: solid 1px #707070;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 2px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
      border: 1px solid #87a06f !important;
      background: #87a06f !important;
}
.dataTables_info{
  color: #aaaaaa !important;
}
.page-link{
padding: .3rem .5rem !important;
font-size:12px !important;
}
.dataTables_info{
  font-size:12px !important;
}
.cohortDef-tab_Active {
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 2px #ffffff;
}
.cohortDef-tab{
  display: inline;
  margin-left: 34%;
  width: 75%;
}
.cohort_Definition {
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.summary {
  margin-left: 10px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
}
.cohort-des_form {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.sub-header{
  font-size: 12px;
  font-weight: 500;
}

.table-header-codeset{
  border-radius: 6px !important;
  border: solid 1px #707070;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-color: #eaf2d0;
}
.table-header-codeset td{
  border: solid #6b9840 !important;
  border-width: 0px 2px 0px 0px !important;
}
.table-header-codeset td:last-child{
  border-style: solid !important;
  border-width: 0px 0px 0px 0px !important;
}
.cohort-des_form-box1{

    margin: .2rem .4rem !important;
    height: 22px !important;
}
.cohort-des_form-box2{

    margin: .2rem .4rem !important;
    height: 22px !important;
}
.right-bordered-icon {
  border-width: 0px 1px 0px 0px;
    border-style: solid;
    padding: 14px !important;
}
.cohort-des_form-box3{

    margin: .2rem .4rem !important;
    height: 22px !important;
}
::-webkit-input-placeholder { /* Edge */
  color: #aaa !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #aaa !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
}

::placeholder {
  color: #aaa !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
}
.cohort-des_btn{
  padding-top: 5px;
  width: 30%;
  margin-left: .5rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.form-btn-Icon{
  width: 10px;
  height: 10px;
  object-fit: contain;
  margin: 5px;
}
.h90{
min-height:90%;
}
.elements-block {
  display: flex;
}
.Form_Body {
  width: 1893px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}
.rightForm {
  width: 87%;
}
.attributeDiv {
  padding: 0px;
}
.eventBox {
  max-height: 100%;
  width: 18%;
  border: solid 1px #a5a5a5 !important;
}
.selectedEventBox {
  max-height: 100%;
  width: 45%;
  border: solid 1px #a5a5a5 !important;
}
.attributeBox {
  border: solid 1px #a5a5a5 !important;
  max-height: 100%;
  width: 50%;
  font-size: 12px !important;
 }
.attributeBox select,
.attributeBox input{
  height: 25px !important;
  border-radius: 3px !important;
}
.attributeBox select{
border: 1px solid #bdb5b5 !important;
}
.q-checkbox__inner--active,
.q-radio__inner--active {
color: #6b9840 !important;
}
.attributeBox .q-checkbox__label{
font-size: 12px !important;
}
.leftForm{
  width: 13%;
  margin-top: 5px;
  padding-right: 15px;
  border-right: 1px solid #629e2a !important;
}
.mar10T{
  margin-top: 5px !important;
}
.RightForm {
  border-radius: 8px;
  border: solid 1px #a5a5a5;
  background-color: #ffffff;
      margin-top: 5px;
}
.RightForm .cohort-des_form-box3{

    width: 40% !important;
}
.RightForm .cohort-des_form-box2{

    width: 55% !important;
}
.cohort-des_btn .btn {
      margin: 0px 5px;
      height: 20px !important;
      font-size: 12px !important;
      padding: 0px  3px !important;
  }
.eventList {
  padding: 10px;
  min-height: 100%;
  border-radius: 8px;
  border: solid 1px #a5a5a5;
  background-color: #ffffff;
}
.DCriteria {
  padding: 10px;
  min-height: 669.9px;
  border-radius: 8px;
  border: solid 1px #6b9840;
}
.detailedForm {
  line-height: 1 !important;
  min-height: 669.9px;
  border-radius: 8px;
  border: solid 1px #a5a5a5;
  background-color: #ffffff;
}
.mar210L{
  margin-left: 10px;
}
.EventList_header {
  width: 80%;
  margin: auto;
  padding: 0px;
  font-family: HelveticaNeue;
  /*height: 18px;*/
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  background-color: #e2efb9;
}
.height-700 {
  height: 700px !important;
  overflow: auto;
}
.date-select{
  font-size: 32px;
}
.event-card {
  padding: 0px !important;
}
.event-card .text-h6{
  font-size: 14px;
  padding: 10px;
}
.custom-card {
  cursor: pointer;
  margin: 7px 0px;
  border: 1px solid #abbd9a !important;
  border-radius: 4px !important;
}
.table-row {
  border-radius: 6px !important;
  /*border-width: 20px;*/
  /*border-style: solid;*/
  border-color: #fbfffa !important;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  /*transform: scaleZ(1.1);*/
}
.table-row td {
  padding: 3px;
}
.custom-card-1 {
  cursor: pointer;
  margin: 7px 7px;
  border-radius: 8px;
  width: 100% !important;
}
.custom-card-2 {
  cursor: pointer;
  margin: 7px 0px;
  border-radius: 8px;
  width: 100% !important;
}
.dependentsIcon .q-btn--outline{
border:none !important;
}
.dependentsIcon .q-hoverable:hover > .q-focus-helper{
opacity:0 !important;
}
.sub-grp {
  border-radius: 8px;
  border: solid 1px #707070;
  background-color: rgba(174, 205, 71, 0.2);
}
.createCohortbtnGrp .action-btns{
margin-top:0px !important;
}
.criteria-box {
  height: 30px;
  border-radius: 8px;
  border: solid 1px #bdb5b5;
  background-color: #f5f5f5;
}
.selected-criteria{
  background-color: #6b9840;
}
.selected-criteria .text-h6{
  color: #ffffff;
}
.customCard-SelectBox{
  height: 25px !important;
  width: 60px !important;
}
.f20{
 font-size: 20px !important;
}
.selected-criteria .q-badge{
  font-weight: 500;
  color: #6b9840 !important;
  border-radius: 4px;

  background-color: #ffffff !important;
}
.Events {
  font-family: HelveticaNeue;
  color: #606060;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  margin-top: 10px;
  /*height: 28px;*/
  border-radius: 14px;
  border: solid 1px #606060;
  background-color: #ffffff;
}
.header_Bor1{
  border: 1px solid #e5e5e5;
  width: 90%;
  margin: 0px auto;
}
.categories_header {
  margin: auto;
  padding: 0px;
  font-family: HelveticaNeue;
  font-size: 12px;
  text-align: center;
  /*height: 18px;*/
  border-radius: 4px;
  background-color: #e2efb9;
  color: #606060;
  width: 80%;
}
.categories_Selected {
  padding: 3px;
    margin-top: 10px;
  font-family: HelveticaNeue;
  color: #ffffff !important;
  font-size: 12px;
  text-align: center;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840 !important;
  background-color: #6b9840 !important;
}
.categories_list {
  padding: 3px;
  color: #606060;
  margin-top: 10px;
  font-family: HelveticaNeue;
font-size: 12px;
text-align: center;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background-color: #ffffff;
}
.categories_details_Selected {
    margin-top: 10px;
  font-family: HelveticaNeue;
  color: #ffffff;
font-size: 12px;
text-align: left;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background-color: #6b9840;
}
.borC1{
border: 1px solid #d56969;
}
.borC2{
border: 1px solid #4789c9;
}
.borC3{
border: 1px solid #6b9840;
}
.input-box {
  height: 25px;
  padding: 10px;
  color:#655f5f;
  border-radius: 8px;
  border: solid 1px #bdb5b5;
  background-color: #f5f5f5;
}
.textarea-box {
  height: 103px;
  padding: 10px;
  color:#655f5f;
  border-radius: 8px;
  border: solid 1px #bdb5b5;
  background-color: #f5f5f5;
}
.f10 .q-checkbox__label {
font-size:10px !important;
padding:0px !important;
}
.swal2-icon.swal2-error {
border-color: #000000 !important;
}
.swal2-icon{
    font-size: 8px !important;
    margin: 5px !important;
}
.swal2-title{
font-weight:100 !important;
font-size:20px !important;
height:40px !important;
}
.swal2-popup {
padding:5px !important;
width: 350px !important;
}
.swal2-actions{
margin:5px !important;
}
.swal2-actions button{
height:30px !important;
font-size:12px !important;
}
.swal2-content{
    font-size: 14px !important;
    color: #9f9f9f !important;
}
.swal2-x-mark-line-left,
.swal2-x-mark-line-right{
background: #000000 !important;
}
.selected-btn-dropdown {
  display:none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border: 1px;
}
select{
color:#655f5f;
}
.q-card{
  color:#655f5f;
}
.options-values {
  color:#655f5f;
  height: 33px;
  min-height: 33px !important;
  padding: 7px;
}
.options-values:hover{
  cursor: pointer;
  background: #AFAFAF;
  color: #fff;
}
.pop-up-header {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #3e3e3e;
}
.pop-up-header-underline {
  border-radius: 20px;
  border-bottom: solid 2px #6b9840;
}
.select-box {
  color:#655f5f;
  height: 25px;
  min-height: 25px !important;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #bdb5b5;
  background-color: #f5f5f5;
}
.createCodesetForm .select-box{
padding: 2px !important;
color: #aaaaaa !important;
}
.codesetDataTable .q-table__bottom--nodata{
display:none;
}
.codesetDataTable tbody td{
padding:1px;
}
.codeSetActionbtns .action-btns{
height:25px !important;
margin:0px !important;
}
.w17R{
width:17R !important;
}
.dateInputBox{
border: 1px solid #aaaaaa;
border-radius: 3px;
}
.h2-5R{
height: 2.5rem !important;
}
.categories_details_list {
  color: #606060;
  margin-top: 10px;
  font-family: HelveticaNeue;
font-size: 12px;
text-align: left;
  height: 25px;
  border-radius: 8px;
  border: solid 1px #6b9840;
  background-color: #ffffff;
}
.add_group_bt {
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  background-color: #6b9840;
  height:25px !important;
  font-size:11px !important;
}
.categories_addNew {
  padding: 3px;
  color: #606060;
  margin-top: 10px;
  font-family: HelveticaNeue;
  font-size: 12px;
  text-align: center;
  height: 40px;
  border-radius: 8px;
  border: dashed 1px #aaa;
  background-color: #fafafa;
}
.categories_detailed-Form {
  height: 333px;
  background-color: rgba(255, 255, 255, 0.45);
}
.categories_details {
  text-align: left !important;
  margin: 10px 0px;
  min-height: 150px;
  border-radius: 8px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.categories_details-selectBox {
  color: #606060 !important;
  font-family: HelveticaNeue !important;
  font-size: 12px !important;
  width:95%;
  text-align: left !important;
  padding: 5px;
  height: 30px;
  border-radius: 8px !important;
  border: solid 1px #606060 !important;
  background-color: #f5f5f5 !important;
}
.dropdown-toggle::after {
    float: right !important;
    margin-top: 6px !important;
  }

  .of-the-criteria {
    padding: 5px 0px;
    height: 10px;
    font-family: HelveticaNeue;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #606060;
}
.add_group-bgTransperent{
  background: #fafafa94 !important;
}
.add_group .btn{
  background: #6b9840 !important;
  height: 25px !important;
  font-size: 10px !important;
  padding: 3px 10px !important;
}
.demo{
  background-color: #fff;
  background-image: linear-gradient(90deg, #cee8c285 1%, transparent 5%, transparent 90%, #bae4a87a 100%), linear-gradient(180deg, #b7e6a37a 1%, transparent 5%, transparent 90%, #b7e6a352 100%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.event-detailedForm_header {
  margin: 10px auto 0px auto;
  font-family: HelveticaNeue;
  font-size: 10px;
  text-align: center;
  width: 80%;
  color: #606060;
  height: 20px;
  border-radius: 4px;
  background-color: #e2efb9;
}
.theamBGcolor2{
  background-color: #f5f5f5 !important;
}
.btn-outline-danger:hover{
    background: #ffffff !important;
    color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.btn-outline-success:hover{
    background: #ffffff !important;
    color: #649536 !important;
    border-color: #649536 !important;
}
.btn-outline-success{
    background: #ffffff !important;
    color: #649536 !important;
    border-color: #649536 !important;
}
.btn-outline-primary:hover{
    background: #ffffff !important;
    color: #007bff !important;
    border-color: #007bff !important;
}
.form-group label {
    color: #606060;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 10px;
    margin-top: .6rem !important;
}
.form-group {
    margin-bottom: .5rem !important;
}
.dropdown-toggle {
    height: 20px !important;
    padding: 0px 3px !important;
    white-space: nowrap !important;
}
.custom-select {
      height: 22px !important;
      padding: 0px 3px !important;
      white-space: nowrap !important;
  }
.detailedForm input{
  height: 22px !important;
  padding: 0px 3px !important;
}
.chilg-Group{
    padding: 10px;
    margin: .5rem;
    border: 1px solid #606060;
    border-radius: 5px;
}
#TreatementForm{
  display: none;
}
#ProcedureForm{
  display: none;
}
#DiagnosisForm{
  display: none;
}
/* Right NAVIGATION */

.sidenav {
  padding-top: 0px !important;
  height: 100%;
  width: 40px;
  position: absolute;
  z-index: 1;
  right: 0px;
  background-color: #ffffff00;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.SiteNav-Menu {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #ffffff;
  margin-left: 40px;
  height: 100%;
}
.SiteNav_Header {
  height: 26px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.SideNav-Code-Group {
  cursor: pointer;
  position: absolute;
  left: 0px;
  writing-mode: tb-rl;
  width: 25px;
  display: inline;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
  padding: .2rem;
  border-radius: 6px;
  background-color: #e2efb9;
}
.sidenav a:hover {
  color: #f1f1f1;
}


  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 12px;}

/* ************* */
.mar1{
  margin: 1px;
}
.list-group {
}

.categories_details_Selected .badge-secondary{
  background: #ffffff !important;
  color: #6b9840 !important;
}
.badge-secondary{
  background: #606060 !important;
  color: #ffffff !important;
}
.Rectangle-208 {
  border-radius: 8px;
  border: solid 1px #6b9840;
  background: url('/statics/imgs/grid.svg');
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.searchCodesetHeader{
  font-family: HelveticaNeue;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #3e3e3e;
}
.genderGraph img{
  height:5rem !important;
  width:5rem !important;
}
.genderGraph-Count {
  text-align: center;
  height: 2rem;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.By-GraphLbls_Underline {
  width: 3rem;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.By-GraphLbls {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #6b9840;
}
.w30R{
width:30rem !important;
}
.btn {
  color: gray;
  background-color: white;
  padding: 5px 20px;
  font-size: 14px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}



.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: black;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;

}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.datePicker {
    font-size: 18px !important;
    margin: 2px 0px;
    color: #6b9840;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
